In [1]:
import pandas as pd
import numpy as np
import sklearn as skl

In [28]:
df = pd.read_csv("data_task_1.txt", header=0, sep=" ")
onehot_gender = pd.get_dummies(df["SEX"]).set_axis(["Male", "Female"], axis=1, inplace=False)
df = df.join(onehot_gender)
df.drop("SEX", axis=1, inplace=True)
df

,ALTER,ADHEU,HOCHOZON,AMATOP,AVATOP,ADEKZ,ARAUCH,AGEBGEW,FSNIGHT,FLGROSS,...,FSPT,FTEH24,FSATEM,FSAUGE,FLGEW,FSPFEI,FSHLAUF,FFVC,Male,Female
0,8.038330,0,0,0,0,0,1,5050,0,151.7,...,0,22.0,0,0,38,0,0,2.80,0,1
1,8.421629,0,0,0,0,0,1,3800,0,147.5,...,1,22.0,0,0,51,0,0,2.64,1,0
2,8.396988,0,0,1,0,0,0,4980,0,130.9,...,0,22.0,0,0,29,0,0,2.29,1,0
3,7.978097,0,0,0,0,0,0,3300,1,146.0,...,0,21.5,0,0,36,0,1,2.20,0,1
4,7.953457,0,0,0,0,0,1,2550,0,132.5,...,0,22.0,0,0,34,0,0,2.09,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,7.687885,0,0,0,0,0,0,3960,0,135.9,...,1,12.9,0,0,37,0,0,2.28,1,0
492,7.258042,1,0,0,0,0,0,2790,0,134.7,...,1,5.6,0,1,28,0,0,2.19,1,0
493,7.572895,1,0,0,0,0,0,3980,0,131.6,...,0,5.6,0,0,29,0,0,2.22,1,0
494,6.910335,0,0,0,0,0,0,3350,0,126.7,...,0,5.6,0,0,26,0,0,2.16,0,1
495,7.581109,1,0,1,1,0,0,3660,0,131.8,...,1,6.4,0,1,25,0,0,1.92,1,0